
.block-views-blocktestimonials-block-1 .views-field-field-testimonial-image {
	position: relative;
}
.block-views-blocktestimonials-block-1 .views-field-field-testimonial-image:after {
	background-image: url('../images/testimonial-icon60x60.png');
	background-repeat: no-repeat;
	background-position: left top;
  background-color: #ffffff;
  border-radius: 50%;
  content: "";
	position: absolute;
	height: 60px;
	width: 60px;
	right: 12%;
	bottom: 12%;
}


/*---News event block css---*/
.pager-nav ul li a {
    border-width: 0 0 0 2px;
    border-color: #808080;
    border-radius: initial;
    color: #808080;
    font-weight: 700;
    padding: 0 12px;
}
.pager-nav ul li a:hover {
    background: transparent;
    border-color: #808080;
}
.pager-nav ul li:first-child a {
    border: 0;
}

/*---Footer css start---*/

/*---Copyright region css---*/
footer.footer {
  background-image: url('../images/footer-bg-new.jpg');
  background-repeat: repeat-y;
  background-position: left top;
}
footer.copyright {
  color: #808080;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

